  <footer style="background-color: rgb(221, 218, 218); color: blanco; padding: 20px; text-align: center;  flex:1 !important; ">
    <div class="footer-info" style="max-width: 800px; margin: 0 auto;">
      <div class="footer-logo" style="margin-bottom: 10px;">
        <i class="fa-brands fa-instagram" style="margin: 0 10px; font-size: 24px; color: blanco;"></i>
        <i class="fa-brands fa-linkedin" style="margin: 0 10px; font-size: 24px; color: blanco;"></i>
        <i class="fa-brands fa-twitter" style="margin: 0 10px; font-size: 24px; color: blanco;"></i>
        <i class="fa-brands fa-square-github" style="margin: 0 10px; font-size: 24px; color: blanco;"></i>
      </div>
      <div class="footer-company-content" style="margin-bottom: 10px;">
        <h3 style="margin: 0; font-size: 18px;"> &copy;
          Wandarlust Private Limited</h3>
      </div>
      <div class="footer-link" style="margin-bottom: 10px;">
        <a href="/privacy" style="color: blanco; text-decoration: none; margin: 0 10px;">Privacy</a>
        <a href="/terms" style="color: blanco; text-decoration: none; margin: 0 10px;">Térms</a>
      </div>
    </div>
  </footer>